.snapFrame {
  border-radius: 25px;
  border: solid 2px black;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

#snapBtn, #timelapseBtn {
  border-radius: 20px !important;
}

#printerView {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.galleryImg {
  max-width: 100%;
  height: auto;
}

#photoGallery {
  overflow-x: hidden;
}

.snapLabel {
  margin: auto auto auto 0;
}

/* Hide scrollbar for Chrome, Safari and Opera
.example::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE and Edge */  
/* .example {
-ms-overflow-style: none;
} */ */