<!doctype html>
<html lang="en">
  <head>
    <title>3D Printer Viewing Station</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/imgs/3d-printer.png" type="image/gif">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap Toggle CDN -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css">
  </head>
  <body>

    <!-- Photo Modal -->
    <div id="photoModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body m-auto">
            <img id="loadingGif" class="img-fluid" src="../static/imgs/loading.gif" />
          </div>
          <div class="modal-footer">
            <button id="deleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bolder" href="#">
        <img src="../static/imgs/3d-printer.png" width="30" height="30" class="d-inline-block align-top" alt="3d printer logo" loading="lazy">
        3D Printer Viewing Station
      </a>
    </nav>

    <!-- Main Content Area -->
    <div class="container mt-5">
      <div class="row">
        <!-- Live Printer Side Column 1 -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <!-- video feed -->
          <img id="printerView" class="img-fluid" src="{{ url_for('video_feed') }}" alt="printer stream">
          <!-- Camera Focus Area -->
          <div class="row mt-3">
            <div class="col slidecontainer">
              <label class="snapLabel font-weight-bolder" for="focusRange">Adjust autofocus on a scale of 0 - 255.</label>
              <input type="range" min="1" max="255" value="127" class="slider" id="focusRange">
              <div class="d-flex justify-content-between">
                  <p class="mb-0"><span class="font-weight-bolder">Value:</span> <span id="focusValue"></span></p>
                <button id="focusBtn" type="submit" class="pl-3 pr-3 font-weight-bolder btn btn-sm btn-dark">Update</button>
              </div>
            </div>
          </div>
          <!-- Photo Snap Section -->
          <div class="row mt-3">
            <div class="col">
              <div class="snapFrame p-3 d-flex justify-content-between">
                <label class="snapLabel font-weight-bolder" for="snapBtn">Take a screen grab from the stream:</label>
                <button id="snapBtn" type="submit" class="pl-3 pr-3 font-weight-bolder btn btn-sm btn-dark">Snap Photo</button>
              </div>
            </div>
          </div>

          <!-- Timelapse Section -->
          <form>
            <div class="row mt-3 mb-3">
              <div class="col">
                <div class="snapFrame form-row p-3">
                  <div class="row">
                    <div class="col">
                      <label class="w-100 font-weight-bolder" for="snapBtn">Input your settings for the timelapse:</label>
                    </div>
                  </div>
                  <!-- Days -->
                  <div class="row">
                    <div class="input-group input-group-sm mb-3 col-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bolder" id="inputGroup-sizing-sm">Days</span>
                      </div>
                      <input id="daysInput" type="number" placeholder="00" class="form-control" aria-label="timelapse days input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <!-- Hours -->
                    <div class="input-group input-group-sm mb-3 col-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bolder" id="inputGroup-sizing-sm">Hours</span>
                      </div>
                      <input id="hrsInput" type="number" placeholder="00" class="form-control" aria-label="timelapse hours input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <!-- Minutes -->
                    <div class="input-group input-group-sm mb-3 col-6">
                      <div class="input-group-prepend">
                        <span class="font-weight-bolder input-group-text" id="inputGroup-sizing-sm">Minutes</span>
                      </div>
                      <input id="minsInput" type="number" placeholder="00" class="form-control" aria-label="timelapse minutes input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <!-- Seconds -->
                    <div class="input-group input-group-sm mb-3 col-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bolder" id="inputGroup-sizing-sm">Seconds</span>
                      </div>
                      <input id="secsInput" type="number" placeholder="00" class="form-control" aria-label="timelapse seconds input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <!-- Delay -->
                    <div id="delayDiv" class="input-group input-group-sm mb-3 col-6 popover-dismiss" data-trigger="focus" data-toggle="popover" title="Division Check!" data-content="Is the delay size larger than the total of seconds requested? Only entered timelapse seconds and not the delay? Make sure to double check!">
                      <div class="input-group-prepend" >
                        <span class="input-group-text font-weight-bolder" aria-describedby="inputGroup-sizing-sm" >Delay</span>
                      </div>
                      <input id="delayInput" type="number" placeholder="00 (secs)" class="form-control" aria-label="timelapse seconds input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                  </div>
                  <div id="timelapseData" class="row w-100">
                    <!-- Timelapse Submit Button -->
                    <div class="col-3">
                      <button id="timelapseBtn" type="submit" class="pl-3 pr-3 timelapseBtn font-weight-bold btn btn-sm btn-dark popover-dismiss" data-trigger="focus" data-toggle="popover" title="Check Your Seconds" data-content="Make sure that you have a seconds count larger than the delay and your timelapse has a seconds value greater than zero.">Start</button>
                    </div>
                    <!-- Timelapse Frame Data to be inserted here -->
                    <div id="totalFrameSec" class="col-3">

                    </div>
                    <div id="remainingFrameSec" class="col-3">
                      
                    </div>
                    <div id="timeImgSec" class="col-3">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- Temp/Humidity Section -->
          <div class="row dataArea p-2">
            <div class="col-10 p-0">
              <button id="sensorTempHumButton" type="button" data-clicked="false" class="btn btn-dark btn-sm pl-3 pr-3 font-weight-bolder" data-toggle="collapse" data-target="#tempHumDiv" aria-expanded="false" aria-controls="collapseExample">Activate Sensors</button>
              <label id="sensorBtnLabel" class="ml-2" for="sensorTempHumButton">Click to activate sensors!</label>
            </div>
            <div id="sensorGifArea" class="col-2">

            </div>
          </div>

          <div id="tempHumDiv" class="collapse row text-center mb-3">
            <div id="sensorDataArea" class="col-12">
              <!-- DYNAMIC SENSOR DATA LOADS HERE -->
            </div>
          </div>
          
        </div>
        
        <!-- Photo Callery Column 2 -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div id="photoGallery" class="row">

          </div>
          <div id="photoNav" class="row">
            <nav class="m-auto" aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <input id="first" type="button" class="page-link font-weight-bolder" onclick="firstPage()" value="First" aria-label="First"/>
                </li>
                <li class="page-item">
                  <input id="previous" type="button" class="page-link font-weight-bolder" onclick="previousPage()" value="&laquo;" aria-label="Previous"/>
                </li>
                <li class="page-item">
                  <input id="currentPG" type="button" class="page-link font-weight-bolder" value="1" aria-label="page number"/>
                </li>
                <li class="page-item">
                  <input id="next" type="button" class="page-link font-weight-bolder" onclick="nextPage()" value="&raquo;" aria-label="Next"/>
                </li>
                <li class="page-item">
                  <input id="last" type="button" class="page-link font-weight-bolder" onclick="lastPage()" value="Last" aria-label="Last"/>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
      


    <!-- Optional JavaScript -->
    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.js" crossorigin="anonymous"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap Toggle JS CDN -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="../static/app.js"></script>
  </body>
</html>